{:publication/id :open-hax.publications/alpha-fr
 :publication/document :open-hax.documents/alpha
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :fr
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/fr/garden/alpha/"
 :translation/review :required}
