{:publication/id :open-hax.publications/constellation-fr
 :publication/document :open-hax.documents/constellation
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :fr
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/fr/garden/constellation/"
 :translation/review :required}
