{:publication/id :open-hax.publications/constellation-en
 :publication/document :open-hax.documents/constellation
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :en
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/garden/constellation/"
 :translation/review :none}
