{:publication/id :open-hax.publications/eta-mu-en
 :publication/document :open-hax.documents/eta-mu
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :en
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/garden/eta-mu/"
 :translation/review :none}
