{:publication/id :open-hax.publications/foresight-de
 :publication/document :open-hax.documents/foresight
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :de
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/de/garden/foresight/"
 :translation/review :required}
