{:publication/id :open-hax.publications/services-es
 :publication/document :open-hax.documents/services
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :es
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/es/garden/services/"
 :translation/review :required}
