{:publication/id :open-hax.publications/start-here-de
 :publication/document :open-hax.documents/start-here
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :de
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/de/garden/start-here/"
 :translation/review :required}
