{:publication/id :open-hax.publications/website-en
 :publication/document :open-hax.documents/website
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :en
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/garden/website/"
 :translation/review :none}
