{:publication/id :open-hax.publications/website-ja
 :publication/document :open-hax.documents/website
 :publication/garden :open-hax.gardens/promethean
 :publication/target :open-hax.publication/static-site
 :publication/locale :ja
 :publication/revision :source/current
 :publication/state :published
 :publication/path "/ja/garden/website/"
 :translation/review :required}
