# Public values are committed; credentials are injected from the production
# GitHub environment. The state directory survives image and config updates.
AXXIUM_IMAGE='${OPEN_HAX_SERVICE_IMAGE}'
AXXIUM_STATE_PATH='${OPEN_HAX_STATE_PATH}'
AXXIUM_PUBLIC_HOST='axxium.promethean.rest'
AXXIUM_DB_PASSWORD='${AXXIUM_DB_PASSWORD}'
AXXIUM_JWT_SECRET='${AXXIUM_JWT_SECRET}'
AXXIUM_BOOTSTRAP_ADMIN_EMAIL='${AXXIUM_BOOTSTRAP_ADMIN_EMAIL}'
PDS_JWT_SECRET='${PDS_JWT_SECRET}'
PDS_ADMIN_PASSWORD='${PDS_ADMIN_PASSWORD}'
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX='${PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX}'
